<!-- core/templates/core/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}?v=1">
</head>
<body>
    <div class="login-container">
        <h2>Авторизация</h2>

        {% if form.errors %}
            <div class="alert">
                <p>Неправильное имя пользователя или пароль. Пожалуйста, попробуйте снова.</p>
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Пароль</label>
                {{ form.password }}
            </div>
            <button type="submit">Войти</button>
        </form>
    </div>
</body>
</html>